@import '../../style/variables';

.menu_item {
  font-size: $font-size1;
  font-weight: $font-weight_normal;
  text-decoration: none;
  color: inherit;
}

.more_item {
  padding-right: 14px;
  background-image: url(./more_icon.svg);
  background-repeat: no-repeat;
  background-position: right center;
}
