@import '../../style/variables';

.links_bar {
  overflow-y: hidden;
}

.title {
  padding-bottom: 12px;
  font-size: $font-size2;
  font-weight: $font-weight_normal;
  color: $color_bg;
}

.links {
  height: 100px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media screen and (max-width: $tablet_width) {
    flex-direction: row;
  }
}
