@import '../../style/variables';

.link {
  display: inline-block;
  width: 84px;
  height: 50px;
  line-height: 50px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  @media screen and (max-width: $tablet_width) {
    width: 120px;
  }

  a {
    font-size: $font-size1;
    font-weight: $font-weight_normal;
    color: $color_white60;
    text-decoration: none;
  }
}
