@import '../../style/variables';

.link {
  width: 150px;
  height: 50px;
  line-height: 50px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  a {
    font-size: $font-size1;
    font-weight: $font-weight_normal;
    color: $color_white60;
    text-decoration: none;
  }
}
