@import '../../style/variables';

.new_collection {
  @extend .video_section;
  height: 772px;
  // background-image: url('./new_collection.gif');
}

.section_header {
  @extend .video_section_header;
  margin-top: 249px;
  max-width: 510px;
}

.slogan {
  @extend .video_section_slogan;
}

.shop_button {
  @extend .video_section_button;
  // margin-top: 32px;
}

.video_buttons {
  margin-top: 91px;
  text-align: right;
}
