@import '../../style/variables';

.place_bar {
  width: 79px;
  height: 24px;
  line-height: 24px;
  text-align: right;
  position: relative;
  // display: flex;
  // align-items: center;
  // justify-content: space-between;

  h4 {
    font-size: $font-size0;
    font-weight: $font-weight_normal;
    color: $color_white60;
  }

  &::after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    // bottom: 0;
    width: 20px;
    height: 28px;
    background: url(./place.svg) no-repeat;
    background-size: 20px 28px;
    background-position: center;
  }
}
