@import '../../style/variables';

.shop_button {
  width: 93px;
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  background: $color_blue;
  color: $color_white;
  font-size: $font-size1;
  font-family: inherit;
  font-weight: $font-weight_bold;
  cursor: pointer;
}
