$color_white: #ffffff;
$color_section_bg: #f5f5f5;
$color_white6: rgba(0, 0, 0, 0.06);
$color_white60: rgba(0, 0, 0, 0.6);
$color_blue: #0075ff;
$color_black: #000000;
$color_bg: #1e1e22;
$color_discount_red: #fe006b;
$color_new_green: #21d804;

$font-size0: 12px;
$font-size1: 18px;
$font-size2: 24px;
$font-size3: 112px;
$font-size4: 32px;
$font-size5: 64px;
$font-weight_bold: 700;
$font-weight_normal: 400;

$section_padding: 60px;
$card_padding: 24px;
// $mobile_padding: 30px;

// .shadow {
//   background: #c4c4c4;
//   box-shadow: 0px 4px 250px rgba(0, 0, 0, 0.55);
// }

.video_section {
  background-position: center;
  background-size: cover;
  padding: 0 $section_padding;
}

.video_section_header {
  display: inline-block;
  font-size: $font-size3;
  font-weight: $font-weight_bold;
  color: $color_white;
}

.video_section_slogan {
  margin-top: 12px;
  margin-bottom: 32px;
  color: $color_white;
  font-size: $font-size2;
  font-weight: $font-weight_normal;
}

// .video_section_button {
//   margin-top: 32px;
// }

.styled_scroll {
  &::-webkit-scrollbar {
    width: 8px;
    background-color: #f9f9fd;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #18aaaa;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    background-color: #f9f9fd;
  }
}
