@import '../../style/variables';

.footer_nav {
  padding: $section_padding;
  box-sizing: border-box;
  background-color: $color_white;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  @media screen and (max-width: $tablet_width) {
    padding: $section_padding_mobile;
  }

  a {
    text-decoration: none;
  }

  .config {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 1;

    .stone_tyle {
      font-size: $font-size2;
      font-weight: $font-weight_normal;
      color: $color_bg;
      margin: 10px;

      span {
        font-weight: $font-weight_bold;
        color: $color_blue;
      }
    }
  }

  .social {
    height: 140px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
  }
}

.footer_info {
  height: 56px;
  padding: 0 $section_padding;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $color_section_bg;

  @media screen and (max-width: $tablet_width) {
    padding: 0 $section_padding_mobile;
  }
}
