@import '../../style/variables';

.new_in_town {
  @extend .video_section;
  height: 725px;
  // background-image: url('./new_in_town.gif');
}

.section_header {
  @extend .video_section_header;
  margin-top: 242px;
  max-width: 375px;
}

.slogan {
  @extend .video_section_slogan;
}

// .shop_button {
//   @extend .video_section_button;
//   // margin-top: 32px;
// }
