@import '../../style/variables';

.scheme_toggler {
  width: 82px;
  height: 40px;
  border-radius: 20px;
  padding: 4px 6px 4px 4px;
  box-sizing: border-box;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $color_white6;
}

.dark_scheme_button,
.light_scheme_button {
  width: 32px;
  height: 32px;
  padding: 0;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.dark_scheme_button {
  background: url(./toggler.svg#dark-view) no-repeat;
  background-size: 24px 24px;
  background-position: center;
}

.light_scheme_button {
  background: url(./toggler.svg#light-view) no-repeat;
  background-size: 32px 32px;
}
