@import '../../style/variables';

.section_header {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 $section_padding;

  @media screen and (max-width: $tablet_width) {
    padding: 0 $section_padding_mobile;
  }

  h2 {
    display: inline-block;
    color: $color_bg;
    font-size: $font-size4;
    font-weight: $font-weight_bold;
    position: relative;
  }
  @media screen and (max-width: $tablet_width) {
    h2::after {
      position: absolute;
      right: -20px;
      top: 3px;
      content: '>';
    }
  }
}

.scroll_buttons {
  width: 80px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  button {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: none;
    background-color: $color_white6;
    cursor: pointer;
  }

  @media screen and (max-width: $tablet_width) {
    display: none;
  }
}

.scroll_bw {
  background: url(./arrows.svg#bw-view) no-repeat;
  background-position: center;
  background-size: 8px 14px;
}

.scroll_fw {
  background: url(./arrows.svg#fw-view) no-repeat;
  background-position: center;
  background-size: 8px 14px;
}
